@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #343231;
  
}
::-webkit-scrollbar {
  display: none;
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jersey-10: var(--font-jersey-10);

  --color-normal: #a8a77a;
	--color-fire: #ee8130;
	--color-water: #6390f0;
	--color-electric: #f7d02c;
	--color-grass: #7ac74c;
	--color-ice: #96d9d6;
	--color-fighting: #c22e28;
	--color-poison: #a33ea1;
	--color-ground: #e2bf65;
	--color-flying: #a98ff3;
	--color-psychic: #f95587;
	--color-bug: #a6b91a;
	--color-rock: #b6a136;
	--color-ghost: #735797;
	--color-dragon: #6f35fc;
	--color-dark: #705746;
	--color-steel: #b7b7ce;
	--color-fairy: #d685ad;
  --color-palette-red: #f5542e;
  --color-palette-orange: #ff4433;
  --color-palette-yellow:#f2c327;
  --color-palette-green: #008b6e;
  --color-palette-light-blue: #00aede;
  --color-palette-dark-blue: #0067ad;
  --color-palette-rose-pink: #f7cfd8;
  --color-palette-cream-1: #fff9e6;
  --color-palette-cream-2: #ffefca;

  --shadow-custom: 16px 16px 0px 0px #343231; 
  --shadow-small-warm: 0px 2px 0px 0px #ff443388; 
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
